@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <div class="top-row-left">
            <a href="/" class="logo-link">
                <span class="logo-text">Synaptic.NET</span>
            </a>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="top-row-right">
                    <a href="/account/logout">Logout</a>
                </div>

            </Authorized>
            <NotAuthorized>
                <div class="top-row-right">
                    <a href="/account/login">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
